<!-- MobileMenu -->
<div class="mobile-menu-wrapper">
  <div class="mobile-menu-overlay">
  </div>
  <!-- End of Overlay -->
  <a class="mobile-menu-close" (click)="onCloseSideMenu()"><i class="d-icon-times"></i></a>
  <!-- End of CloseButton -->
  <div class="mobile-menu-container scrollable">
      <!-- End of Search Form -->
      <ul class="mobile-menu mmenu-anim" style="margin-top: 2rem;">
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/">Home</a>
          </li>
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/products/collections/men">Men</a>
          </li>
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/products/collections/inner-wear">Inner Wear</a>
          </li>
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/products/collections/boxer">Boxers</a>
          </li>
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/products/collections/socks">Socks</a>
          </li>
          <li>
              <a (click)="onCloseSideMenu()" routerLink="/products/collections/vest">Vests</a>
          </li>
          <li>
            <a (click)="onCloseSideMenu()" routerLink="/about">About Us</a>
          </li>
      </ul>
      <!-- End of MobileMenu -->
  </div>
</div>
