<main class="main cart">
  <div class="page-content pt-7 pb-10">
    <div class="step-by pr-4 pl-4">
      <h3 class="title title-simple title-step active"><a routerLink="/cart">Shopping Cart</a></h3>
    </div>
    <div class="container mt-7 mb-2">
      <div class="row">
        <div class="col-lg-8 col-md-12 pr-lg-4">
          <table class="shop-table cart-table" *ngIf="cartItems && cartItems.length > 0">
            <thead>
              <tr>
                <th><span>Product</span></th>
                <th></th>
                <th><span>Price</span></th>
                <th><span>quantity</span></th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody *ngIf="cartItems && cartItems.length > 0">
              <tr *ngFor="let cartItem of cartItems; let i = index" class="animate__animated animate__fadeIn snackbar">
                <td class="product-thumbnail">
                  <figure>
                    <a [routerLink]="'/products/' + cartItem.product._id">
                      <img [src]="cartItem.product.image" width="100" height="100" alt="product">
                    </a>
                  </figure>
                </td>
                <td class="product-name">
                  <div class="product-name-section">
                    <a [routerLink]="'/products/' + cartItem.product._id">{{ cartItem.product.name }}</a>
                  </div>
                </td>
                <td class="product-subtotal">
                  <span class="amount">{{ cartItem.product.currentPrice | currency: cartItem.product.currency }}</span>
                </td>
                <td class="product-quantity">
                  <app-input-number [value]="cartItem.quantity"
                    (change)="onUpdateQuantity($event, cartItem.product)"></app-input-number>
                </td>
                <td class="product-price">
                  <span class="amount">{{ +cartItem.product.currentPrice * +cartItem.quantity| currency:
                    cartItem.product.currency }}</span>
                </td>
                <td class="product-close">
                  <a (click)="onDeleteItemFromCart(cartItem.product._id, i)" class="product-remove"
                    title="Remove this product">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="cart-actions mb-6 pt-4">
            <a routerLink="/" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i
                class="d-icon-arrow-left"></i>Continue Shopping</a>
            <h3 *ngIf="!cartItems || cartItems.length <= 0" class="title title-simple title-step active"><a routerLink="/cart">No Items in cart</a></h3>
            <button *ngIf="cartItems && cartItems.length > 0" type="button"
              class="btn btn-outline btn-dark btn-md btn-rounded" (click)="onClearCart()">Clear Cart</button>
          </div>
        </div>
        <aside class="col-lg-4 sticky-sidebar-wrapper" *ngIf="cartItems && cartItems.length > 0">
          <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
            <div class="summary mb-4">
              <h3 class="summary-title text-left">Cart Totals</h3>
              <table class="shipping">
                <tr class="summary-subtotal">
                  <td>
                    <h4 class="summary-subtitle">Subtotal</h4>
                  </td>
                  <td>
                    <p class="summary-subtotal-price">{{ subTotal() | currency }}</p>
                  </td>
                </tr>
                <tr class="sumnary-shipping shipping-row-last">
                  <td colspan="2">
                    <h4 class="summary-subtitle">Calculate Shipping</h4>
                    <ul>
                      <li>
                        <div class="custom-radio">
                          <input type="radio" id="flat_rate" name="shipping" class="custom-control-input" checked>
                          <label class="custom-control-label" for="flat_rate">Flat
                            rate</label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-radio">
                          <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                          <label class="custom-control-label" for="free-shipping">Free
                            shipping</label>
                        </div>
                      </li>

                      <li>
                        <div class="custom-radio">
                          <input type="radio" id="local_pickup" name="shipping" class="custom-control-input">
                          <label class="custom-control-label" for="local_pickup">Local
                            pickup</label>
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <table class="total">
                <tr class="summary-subtotal">
                  <td>
                    <h4 class="summary-subtitle">Total</h4>
                  </td>
                  <td>
                    <p class="summary-total-price ls-s">{{ subTotal() | currency }}</p>
                  </td>
                </tr>
              </table>
              <a (click)="onCheckOut()" class="btn btn-dark btn-rounded btn-checkout">Proceed to
                checkout</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>

</main>
