<nav class="breadcrumb-nav">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
      <li>About Us</li>
    </ul>
  </div>
</nav>
<div class="page-header pl-4 pr-4" style="background-image: url(assets/images/page-header/about-us.jpg)">
  <h3 class="page-subtitle font-weight-bold">Welcome to Supreet Indian Goods</h3>
  <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">About Us</h1>
  <!-- <p class="page-desc text-white mb-0">Supreet Indian Goods was founded in 2023, with a mission to become a delivery agent of Jockey Goods.</p> -->
</div>
<div class="page-content mt-10 pt-10">
  <section class="about-section pb-10 ">
    <div class="container">
      <div class="row align-items-center" style="margin: auto; text-align: center;">
        <div class="col-lg-12 mb-10 mb-lg-4">
          <h5 class="section-subtitle lh-2 ls-md font-weight-normal">01. What We Do</h5>
          <h3 class="section-title lh-1 font-weight-bold">We ship Jocky original products from India to Canada
          </h3>
          <p style="max-width: 80%;margin: auto;">Supreet Indian Goods was founded in 2023, with a mission to become a delivery agent of Jockey Goods.We are a forward-thinking company that offers cutting-edge goods to suit the contemporary lifestyle of our clients. Frequently, when putting an attire together, we have a tendency to overlook the innerwear, which is both the most crucial component and the basis of every style.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section-->

  <section class="customer-section pb-10 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 mb-4">
          <figure>
            <img src="assets/images/supreet/desktop11111.jpg" alt="Happy Customer" width="580" height="507" class="banner-radius"
              style="background-color: #BDD0DE;" />
          </figure>
        </div>
        <div class="col-md-5 mb-4">
          <h5 class="section-subtitle lh-2 ls-md font-weight-normal">02. Happy Customer</h5>
          <h3 class="section-title lh-1 font-weight-bold">Provide fashionable and<br>qualifed
            products</h3>
          <p class="section-desc text-grey">
            We analysed the requirement of underclothes in Canadian Market which are pocket friendly, feature stunning abstract print, smooth touch, and keeps you fresh and dry throughout the day. That all in one quality we found in Jockey Products and providing the same to our Canadian clients.
          </p>
          <a href="#" class="btn btn-dark btn-link btn-underline ls-m">Visit Our Store<i
              class="d-icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Customer Section -->

  <section class="store-section pb-10 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-first mb-4">
          <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1">03. Our Store</h5>
          <h3 class="section-title lh-1 font-weight-bold">Shipping from<br>India</h3>
          <p class="section-desc text-grey">
            if you're seeking for Jockey undergarments that will provide you with maximum comfort and confidence to get you through the warmest days, than you are on the right platform to order.
          </p>
          <a href="#" class="btn btn-dark btn-link btn-underline ls-m">Get Our Store<i
              class="d-icon-arrow-right"></i></a>
        </div>
        <div class="col-md-6 mb-4">
          <figure>
            <img src="assets/images/supreet/men-inner-wear.jpg" alt="Our Store" width="580" height="507" class="banner-radius"
              style="background-color: #DEE6E8;" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- End Store-section -->
</div>
