<footer class="footer appear-animate">
  <div class="container">
    <div class="footer-middle">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="widget widget-about">
            <a routerLink="/" class="logo-footer mb-4">
              <img src="assets/images/logo/supreet-logo-png.png" alt="logo-footer" width="150" height="43" />
            </a>
            <div class="widget-body">
              <p class="ls-s">Supreet Indian Goods was founded in 2023
                 with a mission to become a delivery agent of Jockey Goods.
                 We are a forward-thinking company that offers cutting-edge
                 goods to suit the contemporary lifestyle of our clients.</p>
              <a *ngFor="let email of emails" [href]="'mailto:' + email"><span class="__cf_email__">{{ email }}</span></a>
            </div>
          </div>
          <!-- End of Widget -->
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Ouick Links</h4>
                <ul class="widget-body">
                  <li><a routerLink="/products/collections/men">Men</a></li>
                  <li><a routerLink="/products/collections/boxer">Boxers</a></li>
                  <li><a routerLink="/products/collections/vest">Vests</a></li>
                  <li><a routerLink="/products/collections/socks">Socks</a></li>
                </ul>
              </div>
              <!-- End of Widget -->
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Customer Support</h4>
                <ul class="widget-body">
                  <li><a routerLink="/about">About Us</a></li>
                  <li *ngFor="let email of emails"><a [href]="'mailto:' + email">Get Support</a></li>
                  <li *ngFor="let phone of phones"><a [href]="'tel:' + phone">Call Us</a></li>
                  <li *ngFor="let phone of phones"><a [href]="'https://wa.me/'+ phone" target="_blank">Whatsapp</a></li>
                </ul>
              </div>
              <!-- End of Widget -->
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="widget">
                <h4 class="widget-title">My Account</h4>
                <ul class="widget-body">
                  <li><a routerLink="/cart">View Cart</a></li>
                  <li *ngFor="let email of emails"><a [href]="'mailto:' + email">Help</a></li>
                  <div class="social-links">
                    <a [href]="socialMediaLinks?.facebook" title="social-link" target="_blank" class="social-link social-facebook fab fa-facebook-f"></a>
                    <a *ngIf="socialMediaLinks && socialMediaLinks.twitter" [href]="socialMediaLinks.twitter" target="_blank" class="social-link social-twitter fab fa-twitter"></a>
                    <a [href]="socialMediaLinks?.instagram" title="social-link" target="_blank" class="social-link social-instagram fab fa-instagram"></a>
                  </div>
                </ul>
              </div>
              <!-- End of Widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of FooterMiddle -->
    <div class="footer-bottom">
      <div class="footer-left">
        <figure class="payment">
          <img src="assets/images/payment.png" alt="payment" width="159" height="29" />
        </figure>
      </div>
      <div class="footer-center">
        <p class="copyright">SIG eCommerce &copy; {{getCurrentYear()}}. All Rights Reserved | Developed by <a href="https://www.younedia.com/" target="_blank" class="author">Younedia</a></p>
      </div>
      <div class="footer-right" style="visibility: hidden;">
        <div class="social-links">
          <a [href]="socialMediaLinks?.facebook" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
          <a *ngIf="socialMediaLinks && socialMediaLinks.twitter" [href]="socialMediaLinks.twitter" class="social-link social-twitter fab fa-twitter"></a>
          <a [href]="socialMediaLinks?.instagram" title="social-link" class="social-link social-instagram fab fa-instagram"></a>
        </div>
      </div>
    </div>
    <!-- End of FooterBottom -->
  </div>
</footer>
