
<div class="product animate__animated animate__fadeIn" *ngIf="product">
  <figure class="product-media" animation="fadeInUp" delay="0" duration="500" offset="100" triggerOnce="false">
    <a [routerLink]="'/products/' + product._id" (click)="scrollTop()">
      <img [src]="product.image" alt="Blue Pinafore Denim Dress" width="280" height="315"
        style="background-color: #f2f3f5;" />
    </a>
    <!-- <div class="product-label-group" *ngIf="product.label">
      <label class="product-label label-new">new</label>
    </div>
    <div class="product-label-group" *ngIf="!product.label && product.mrpPrice">
      <label class="product-label label-sale">35% Off</label>
    </div> -->
    <div class="product-action-vertical">
      <a href="#" class="btn-product-icon btn-cart" routerLink="/cart" (click)="scrollTop()" title="View cart"><i
          class="d-icon-bag"></i></a>
      <!-- <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
          class="d-icon-heart"></i></a> -->
    </div>
    <div class="product-action">
      <a class="btn-product " title="View Product" [routerLink]="'/products/'+product._id">View Product</a>
    </div>
  </figure>
  <div class="product-details">
    <div class="product-cat" *ngIf="product.categories && product.categories.length > 0">
      <a>{{ product.categories[product.categories.length - 1] }}</a>
    </div>
    <h3 class="product-name">
      <a [routerLink]="'/products/' + product._id" (click)="scrollTop()">{{ product.name }}</a>
    </h3>
    <div class="product-price">
      <ins class="new-price">{{ product.currentPrice | currency: product.currency }}</ins><del class="old-price">{{
        product.mrpPrice | currency: product.currency }}</del>
    </div>
    <!-- <div class="ratings-container">
      <div class="ratings-full">
        <span class="ratings" style="width:100%" [style]="'width:'+ (product.rating*100)/ratings+'%'"></span>
        <span class="tooltiptext tooltip-top"></span>
      </div>
      <a routerLink="/products/name" class="rating-reviews">( {{ product.numReviews }} )</a>
    </div> -->
  </div>
</div>

<app-snackbar [name]="product.name" [isShown]="isSnackbarShown" *ngIf="isToAddSnackbar && product"></app-snackbar>
