<main class="main demo2-cls">
  <div class="page-content">
    <div class="container">
      <section class="intro-section">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="owl-theme row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 gutter-no">
              <owl-carousel-o [options]="customOptionshome">
                <ng-container>
                  <ng-template carouselSlide>
                    <div class="banner banner-fixed intro-slide1 content-center content-middle"
                      style="background-color: #222;">
                      <figure>
                        <img src="assets/images/supreet/hero-banner-3-new.jpg" class="animate__animated animate__fadeInUpBig"
                          alt="intro-banner" width="1180" height="600" style="background-color: transparent;" />
                      </figure>
                      <!-- <div class="banner-content">
                        <h4
                          class="banner-subtitle font-weight-semi-bold text-white ls-normal lh-1 mb-0 text-uppercase text-left">
                          Men’s wear</h4>
                        <h2 class="banner-title text-uppercase text-white">
                          Collection</h2>
                        <h5 class="font-weight-normal text-white lh-1 ls-normal text-right mb-1">
                          Start at <span class="text-secondary font-weight-bold">$19.99</span>
                        </h5>
                      </div> -->
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="intro-slide2 banner banner-fixed">
                      <figure>
                        <img src="assets/images/demos/demo2/slides/1.jpg" alt="banner" width="1180" height="600"
                          style="background-color: #222" />
                      </figure>
                      <!-- <div class="banner-content y-50">
                        <h4 class="banner-subtitle font-weight-normal lh-1 ls-m">
                          Lifestyle collection</h4>
                        <h3 class="banner-title ls-l text-white text-uppercase font-weight-bold lh-1">
                          For Women’s</h3>
                        <h5 class="font-weight-normal text-white text-uppercase lh-1 ls-m mb-1">
                          sale Up to <span class="text-secondary font-weight-bold">30% Off</span>
                        </h5>
                        <p class="font-weight-normal ls-s mb-7">
                          Get Free Shipping on all orders over $99.00</p>
                        <a href="demo2-shop.html" class="btn btn-white btn-rounded">Shop
                          now</a>
                      </div> -->
                      <div class="banner-content y-50">
                        <h4
                          class="banner-subtitle font-weight-semi-bold text-white ls-normal lh-1 mb-0 text-uppercase">
                          Men’s wear</h4>
                        <h2 class="banner-title text-uppercase text-white">
                          Collection</h2>
                        <h5 class="font-weight-normal text-white lh-1 ls-normal text-right mb-1">
                          Start at <span class="text-secondary font-weight-bold">$19.99</span>
                        </h5>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="banner banner-fixed overlay-zoom intro-banner intro-banner1 content-middle">
              <figure>
                <img src="assets/images/supreet/desktop-cover.jpg" animation="fadeInUp" delay="100" duration="500" offset="110" triggerOnce="false" width="580" height="249" alt="banner"
                  style="background-color: #222;" />
              </figure>
              <div class="banner-content" style="background-color: rgb(0, 0, 0, 0.5); padding:6px; border-radius: 6px;">
                <h4 style="color: rgb(209,173,89)" class="banner-subtitle ls-normal text-white text-uppercase font-weight-normal lh-1">
                  New Arrivals</h4>
                <!-- <h3 style="color: rgb(209,173,89)" class="banner-title text-white font-weight-bold ls-md">
                  Men's Sale
                </h3> -->
                <a style="color: rgb(209,173,89)" routerLink="/products/collections/men" class="btn btn-white btn-link btn-underline font-weight-semi-bold">Shop
                  Now<i class="d-icon-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="banner banner-fixed overlay-zoom intro-banner intro-banner2 content-middle">
              <figure>
                <img src="assets/images/supreet/poster-1.jpg" width="580" height="249" alt="banner"
                  style="background-color: #222;" />
              </figure>
              <div class="banner-content" style="background-color: rgb(0, 0, 0, 0.5); padding:6px; border-radius: 6px;">
                <h4 class="banner-subtitle ls-normal text-white text-uppercase font-weight-normal lh-1">
                  Trending</h4>
                <h3 class="banner-title text-white font-weight-bold ls-md">
                  New Inners
                </h3>
                <a routerLink="/products/collections/inner-wear"
                  class="btn btn-white btn-link btn-underline btn-white font-weight-semi-bold">Shop
                  Now<i class="d-icon-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <app-featured-products></app-featured-products>

      <section class="pt-md-2 pb-md-6 category-section">
        <h2 class="title title-simple ls-m">Top Categories</h2>
        <div class="row grid">
          <div class="grid-item col-sm-6 height-x1">
            <div class="category category-light category-absolute overlay-dark">
              <a (click)="scrollTop()" routerLink="/products/collections/men">
                <figure class="category-media">
                  <img src="assets/images/supreet/men-inner-wear.jpg" alt="category" width="585" height="205"
                    style="background-color: #c8ced4;" />
                </figure>
              </a>
              <div class="category-content">
                <h4 class="category-name"><a (click)="scrollTop()" routerLink="/products/collections/men">Men’s Innerwears</a></h4>
              </div>
            </div>
          </div>
          <div class="grid-item col-sm-6 height-x1">
            <div class="category category-light category-absolute overlay-dark">
              <a (click)="scrollTop()" routerLink="/products/collections/boxer">
                <figure class="category-media">
                  <img src="assets/images/supreet/boxers.jpg" alt="category" width="585" height="397"
                    style="background-color: #ebedef;" />
                </figure>
              </a>
              <div class="category-content">
                <h4 class="category-name"><a (click)="scrollTop()" routerLink="/products/collections/brief">Briefs</a></h4>
              </div>
            </div>
          </div>
          <div class="col-1 grid-space"></div>
        </div>
      </section>

      <section class="banner banner-sale mt-10 mb-10"
        style="background-image: url(assets/images/demos/demo2/banners/3.jpg); background-color: #1f272b;">
        <div class="banner-content">
          <h4 class="banner-subtitle text-uppercase text-white font-weight-normal lh-1 ls-m mb-0" style="cursor: pointer;" routerLink="/products/collections/women">JOCKEY FOR WOMEN</h4>
          <hr class="divider mb-2">
          <h3 class="banner-title text-uppercase text-white lh-1 mb-0">New</h3>
          <!-- <div class="price-rotated">
            <div class="banner-price-info d-flex align-items-center justify-content-center skrollr">
              <h5 class="text-uppercase text-white ls-l mb-0">At Up To<br><span class="text-secondary ls-l">50%</span>
                Off</h5>
            </div>
          </div> -->
        </div>
      </section>

      <section class="mt-10 pt-3 mb-6">
        <h2 class="title title-simple title-center ls-m">New Arrivals</h2>
        <div class="product-wrapper row">
          <div class="col-lg-3 col-md-4 col-6 mb-4" *ngFor="let product of products">
            <app-product [product]="product"></app-product>
          </div>
        </div>
      </section>

      <section class="service-list mt-10">
        <owl-carousel-o [options]="customOptionsShipping" class="owl-theme row">
          <ng-container>
            <ng-template carouselSlide>
              <div class="icon-box">
                <div class="icon-box-content">
                  <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">Delivery at your door</h3>
                  <p class="text-primary">$60 for upto 1kg and $120 for upto 5kg</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="icon-box">
                <div class="icon-box-content">
                  <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">Tracked
                    delivery</h3>
                  <p class="text-primary">Standard 8-10 Days</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="icon-box">
                <div class="icon-box-content">
                  <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">No
                    returns</h3>
                  <!-- <p class="text-primary">No returns available</p> -->
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </section>

      <!-- <section class="instagram-section mt-10 pt-7 pb-8 mb-10">
        <h2 class="title title-simple">Our Instagram</h2>
        <owl-carousel-o [options]="customOptionsInsta" class="owl-theme row">
          <ng-container>
            <ng-template carouselSlide>
              <figure class="instagram">
                <a href="#">
                  <img src="assets/images/demos/demo2/instagram/1.jpg" alt="Instagram" width="220" height="220" />
                </a>
              </figure>
            </ng-template>
            <ng-template carouselSlide>
              <figure class="instagram">
                <a href="#">
                  <img src="assets/images/demos/demo2/instagram/2.jpg" alt="Instagram" width="220" height="220" />
                </a>
              </figure>
            </ng-template>
            <ng-template carouselSlide>
              <figure class="instagram">
                <a href="#">
                  <img src="assets/images/demos/demo2/instagram/3.jpg" alt="Instagram" width="220" height="220" />
                </a>
              </figure>
            </ng-template>
            <ng-template carouselSlide>
              <figure class="instagram">
                <a href="#">
                  <img src="assets/images/demos/demo2/instagram/5.jpg" alt="Instagram" width="220" height="220" />
                </a>
              </figure>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </section> -->
    </div>
  </div>
</main>
