<main class="main mt-6 single-product">
  <div class="page-content mb-10 pb-6">
    <div class="container">
      <div class="product product-single row mb-2" *ngIf="isLoading">
        <div class="col-md-5" style="margin: auto;">
          <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
          width: '100%',
          height: '320px',
          'border-radius': 0,
          'background-color': 'black'
        }">
          </ngx-skeleton-loader>
        </div>
        <div class="col-md-5" style="margin: auto;">
          <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
          width: '100%',
          height: '320px',
          'border-radius': 0,
          'background-color': 'black'
        }">
          </ngx-skeleton-loader>
        </div>
      </div>
      <app-snackbar *ngIf="product" [name]="product.name" [isShown]="isSnackbarShown"></app-snackbar>
      <div class="product product-single row mb-2 animate__animated animate__fadeIn">
        <div class="col-md-6" style="margin: auto;">
          <app-product-gallery *ngIf="product" [imageData]="imageData"></app-product-gallery>
        </div>
        <div class="col-md-4" style="margin: auto;">
          <div class="product-details">
            <div class="product-navigation">
              <ul class="breadcrumb breadcrumb-lg">
                <li><a href="demo2.html"><i class="d-icon-home"></i></a></li>
                <li><a href="#" class="active">Products</a></li>
                <li>Detail</li>
              </ul>

              <!-- <ul class="product-nav">
                <li class="product-nav-prev">
                  <a href="#">
                    <i class="d-icon-arrow-left"></i> Prev
                    <span class="product-nav-popup">
                      <img [src]="product.imageSrc" alt="product thumbnail" width="110" height="123">
                      <span class="product-name">Sed egtas Dnte Comfort</span>
                    </span>
                  </a>
                </li>
                <li class="product-nav-next">
                  <a href="#">
                    Next <i class="d-icon-arrow-right"></i>
                    <span class="product-nav-popup">
                      <img src="assets/images/product/product-thumb-next.jpg" alt="product thumbnail" width="110"
                        height="123">
                      <span class="product-name">Sed egtas Dnte Comfort</span>
                    </span>
                  </a>
                </li>
              </ul> -->
            </div>

            <h1 class="product-name">{{ product?.name }}</h1>
            <div class="product-meta">
              SKU: <span class="product-sku">12345670</span>
              BRAND: <span class="product-brand">{{ product?.brand }}</span>
            </div>
            <div class="product-price mb-2">{{ product?.currentPrice | currency: product?.currency }}</div>
            <!-- <div class="ratings-container">
              <div class="ratings-full">
                <span class="ratings" style="width:80%"></span>
                <span class="tooltiptext tooltip-top"></span>
              </div>
              <a href="#product-tab-reviews" class="link-to-tab rating-reviews">( 6 reviews )</a>
            </div> -->
            <p class="product-short-desc" *ngIf="product">{{ product.description }}</p>

            <hr class="product-divider">

            <div class="product-form product-qty">
              <div class="product-form-group">
                <app-input-number [value]="quantity" (change)="onUpdateQuantity($event)"></app-input-number>
                <button class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold"
                  (click)="onAddtoCart(product._id)"><i class="d-icon-bag"></i>Add to Cart</button>
              </div>
            </div>

            <hr class="product-divider mb-3">

          </div>
        </div>
      </div>

      <div class="tab tab-nav-simple product-tabs mb-4">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#product-tab-description">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product-tab-additional">Additional information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product-tab-shipping-returns">Washing Instructions</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#product-tab-reviews">Reviews (1)</a>
          </li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane active in mb-3" id="product-tab-description">
            <div class="row mt-6">
              <div class="col-md-6">
                <h5 class="description-title mb-4 font-weight-semi-bold ls-m">Features</h5>
                <ul class="mb-8">
                  <li *ngFor="let feature of product?.features" [innerHTML]="feature"></li>
                </ul>
              </div>
              <div class="col-md-6 pl-md-6 pt-4 pt-md-0">
                <div class="icon-box-wrap d-flex flex-wrap">
                  <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4 mr-10">
                    <div class="icon-box-icon">
                      <i class="d-icon-lock"></i>
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">100% Genuine</h4>
                      <p>Quality with no doubt</p>
                    </div>
                  </div>
                  <div class="divider d-xl-show mr-10"></div>
                  <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4">
                    <div class="icon-box-icon">
                      <i class="d-icon-truck"></i>
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">Paid shipping
                      </h4>
                      <p>at your door</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="product-tab-additional">
            <ul class="list-none">
              <li><label>Available color<span *ngIf="product && product.colors.length>0">s</span>:</label>
                <p>
                  <span *ngFor="let color of product?.colors; let i = index">
                    <div
                      [style]="'background-color:' +color +'; width: 30px; height: 30px; display: inline-block; margin-right: 3px'">
                    </div>
                    <!-- <span *ngIf="i < product.colors.length - 1">, </span> -->
                  </span>
                </p>
              </li>
              <li><label>Size:</label>
                <p>
                  <span *ngFor="let size of product?.sizes;
                    let i = index" style="margin-right: 3px;" style="text-transform: capitalize">{{ size }}<span
                      *ngIf="i < product.sizes.length - 1">,
                    </span>
                  </span>
                </p>
              </li>
            </ul>
          </div>
          <div class="tab-pane " id="product-tab-shipping-returns">
            <h6 class="mb-2">Washing Instructions</h6>
            <p class="mb-0">Gentle Wash</p>
          </div>

        </div>
      </div>

      <section class="pt-3 mt-10">
        <h2 class="title title-center ls-normal">Related Products</h2>

        <owl-carousel-o [options]="customOptionsRelated" class="owl-theme row owl-nav-full ">
          <ng-container>
            <ng-template carouselSlide *ngFor="let product of products">
              <app-product [product]="product" [isToAddSnackbar]="false"></app-product>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </section>
    </div>
  </div>
</main>
